/* montserrat-100 - latin */
@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 100;
  src: local("Montserrat Thin"), local("Montserrat-Thin"),
    url("../fonts/montserrat-v14-latin-100.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-200 - latin */
@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 200;
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"),
    url("../fonts/montserrat-v14-latin-200.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-100italic - latin */
@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 100;
  src: local("Montserrat Thin Italic"), local("Montserrat-ThinItalic"),
    url("../fonts/montserrat-v14-latin-100italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-100italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-200italic - latin */
@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 200;
  src: local("Montserrat ExtraLight Italic"),
    local("Montserrat-ExtraLightItalic"),
    url("../fonts/montserrat-v14-latin-200italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-200italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-300italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"),
    url("../fonts/montserrat-v14-latin-300italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-300italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-300 - latin */
@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat Light"), local("Montserrat-Light"),
    url("../fonts/montserrat-v14-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-italic - latin */
@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 400;
  src: local("Montserrat Italic"), local("Montserrat-Italic"),
    url("../fonts/montserrat-v14-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500italic - latin */
@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 500;
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"),
    url("../fonts/montserrat-v14-latin-500italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-500italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("../fonts/montserrat-v14-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../fonts/montserrat-v14-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600italic - latin */
@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 600;
  src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"),
    url("../fonts/montserrat-v14-latin-600italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-600italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700italic - latin */
@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 700;
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"),
    url("../fonts/montserrat-v14-latin-700italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin */
@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
    url("../fonts/montserrat-v14-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800italic - latin */
@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 800;
  src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBoldItalic"),
    url("../fonts/montserrat-v14-latin-800italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-800italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-900 - latin */
@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  src: local("Montserrat Black"), local("Montserrat-Black"),
    url("../fonts/montserrat-v14-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-900italic - latin */
@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 900;
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"),
    url("../fonts/montserrat-v14-latin-900italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-900italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.how-we-do {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.how-we-do__item {
  padding-bottom: 30px;
}
.how-we-do__title {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 33px;
  color: #18191d;
  font-family: "Montserrat";
  font-weight: 800;
  text-align: center;
  margin-bottom: 28px;
}

.how-we-do__item {
  width: 290px;
  min-height: 236px;
  filter: drop-shadow(4px 6.928px 16px rgba(29, 29, 27, 0.11));
  background-color: #ffffff;
  padding-top: 32px;
}

.how-we-do__item:hover,
.how-we-do__item:focus {
  background-color: #ff6b08;
}
.how-we-do__item:focus .how-we-do__methot-title {
  color: #ffffff;
}

.how-we-do__item:focus .how-we-do__method-description {
  color: #ffffff;
}
.how-we-do__item:hover .how-we-do__methot-title {
  color: #ffffff;
}

.how-we-do__item:hover .how-we-do__method-description {
  color: #ffffff;
}
.how-we-do__item:hover .how-we-do__item-svg {
  fill: #ffffff;
}

.how-we-do__item:focus .how-we-do__item-svg {
  fill: #ffffff;
}

.how-we-do__item:hover .how-we-do__methot-title::after {
  background-color: #ffffff;
}

.how-we-do__item:focus .how-we-do__methot-title::after {
  background-color: #ffffff;
}
.how-we-do__item-svg {
  display: block;
  width: 60px;
  height: 60px;
  fill: #ff6b08;
  margin: 0 auto;
  margin-bottom: 4px;
}

.how-we-do__item {
  margin-bottom: 16px;
}

.how-we-do__methot-title {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #111517;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  margin-bottom: 14px;
}

.how-we-do__methot-title::after {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #ff6b08;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 16px;
}

.how-we-do__methot-title-break {
  display: block;
}

.how-we-do__method-description {
  padding: 0 20px;
  margin: 0 auto;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #858585;
  font-family: "Montserrat";
  font-weight: 500;
  text-align: center;
}

.our-program {
  width: 320px;
  margin: 0 auto;
  background-color: #111517;
  padding-bottom: 318px;
  background-image: url("./img/bg-mob.png");
  background-repeat: no-repeat;
  background-position: right 1370px;
}

.our-program__wrapper {
  width: 280px;
  margin: 0 auto;
  position: relative;
}

.our-program__list {
  padding-left: 30px;
  margin-left: 62px;
}

.our-program__list::before {
  content: "";
  display: block;
  width: 2px;
  height: 1258px;
  position: absolute;
  background-color: #575173;
  left: 60px;
  top: 70px;
}

.our-program__title {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 33px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 800;
  text-align: center;
  margin-bottom: 17px;
}

.our-program__semestr-title {
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 29px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.our-program__semestr-title::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ff6b08;
  position: relative;
  left: -36px;
  top: 18px;
}

.our-program__skils {
  display: inline-block;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 29px;
  color: #ff6b08;
  font-family: "Montserrat";
  font-weight: 500;
  margin-bottom: 8px;
}

.our-program__semestr-item {
  margin-bottom: 6px;
}

.our-program__item {
  margin-bottom: 24px;
}

.our-program__skils::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: #ff6b08;
  vertical-align: middle;
  margin-right: 12px;
}

.our-program__themes-item {
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #858585;
  font-family: "Montserrat";
  font-weight: 400;
}

.why-we {
  width: 280px;
  margin: 0 auto;
  position: relative;
  top: -315px;
  filter: drop-shadow(4px 6.928px 16px rgba(29, 29, 27, 0.11));
}

/* .why-we__inner-wrapper{
    margin: 0 auto;
    position: absolute;
    top:-422px;
} */

.why-we__title {
  width: 150px;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 800;
  margin-bottom: 17px;
}

.why-we__wrapper {
  background-color: #ffffff;
}

.why-we__list {
  width: 224px;
  margin: 0 auto;
}

.why-we__item {
  padding-top: 12px;
}

.why-we__number-reason {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 29px;
  color: #ff6b08;
  font-family: "Montserrat";
  font-weight: 500;
  vertical-align: middle;
  margin-bottom: 4px;
  font-stretch: condensed;
}

.why-we__number-reason::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: #ff6b08;
  vertical-align: middle;
  margin-right: 8px;
}

.why-we__item-reason {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #18191d;
  font-family: "Montserrat";
  font-weight: 700;
}

.teacher {
  width: 320px;
  margin: 0 auto;
  margin-top: -280px;
  margin-bottom: 15px;
}

.teacher__wrapper {
  width: 280px;
  margin: 0 auto;
}

.teacher__title {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #111517;
  font-family: "Montserrat";
  font-weight: 800;
  margin-bottom: 22px;
}

.teacher_photo {
  width: 280px;
  height: 214px;
  margin-bottom: 12px;
}

.teacher__name {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 29px;
  color: #111517;
  font-family: "Montserrat";
  font-weight: 800;
  margin-bottom: 18px;
}

.teacher__features-item {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 22px;
  color: #111517;
  font-family: "Montserrat";
  font-weight: 600;
  padding-left: 35px;
}
.teacher__features-item:not(:last-of-type) {
  margin-bottom: 11px;
}

.teacher__features-list {
  position: relative;
  margin-bottom: 12px;
}

.teacher__features-item::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("./img/check.svg");
  background-repeat: no-repeat;
  background-size: 120%;
  position: absolute;
  background-position: center;
  left: 0px;
  margin-top: 8px;
}

.teacher__biography {
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #858585;
  font-family: "Montserrat";
  font-weight: 500;
  padding: 0 15px;
}

.teacher__biography:first-of-type::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #ff6b08;
  margin-bottom: 14px;
}
.teacher__biography:not(:last-of-type) {
  margin-bottom: 15px;
}

.teacher__sertificate {
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 29px;
  color: #ff6b08;
  font-family: "Montserrat";
  font-weight: 400;
  padding-left: 15px;
}
.container {
  max-width: 320px;
  margin: 0 auto;
}
.section-2__wrapper {
  max-width: 280px;
  margin: 0 auto;
  position: relative;
  filter: drop-shadow(4px 6.928px 10.5px rgba(29, 29, 27, 0.04));
}
.section-2 {
  background-color: #111517;
  margin-bottom: 200px;
}
.section-2__title {
  padding: 56px 0px 330px;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
.title-orange {
  color: #ff6b08;
}
.section-2__solution {
  background-color: #ffffff;
  position: absolute;
  top: 210px;
  margin-bottom: 50px;
}
.section-2__solution-list {
  display: flex;
  flex-direction: column;
  padding: 15px 0 30px;
}
.list-item {
  padding: 2px 30px 2px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #18191d;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.number {
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 29px;
  color: #ff6b08;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.number::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ff6b08;
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 10px;
}

.guarantee__title {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 63px;
  color: #111517;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: center;
  margin-bottom: 30px;
}
.guarantee__wrapper {
  max-width: 320px;
  margin: 0 auto;
  background-color: #f1f1f1;
}
.wrapper__list {
  padding: 0 20px;
}
.wrapper__list-item {
  padding-bottom: 20px;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #18191d;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  display: flex;
}
.wrapper__list-item:nth-child(1) {
  padding-top: 30px;
  position: relative;
}
.orange {
  color: #ff6b08;
  display: contents;
}
.transfer {
  display: contents;
}
.wrapper__list-item:nth-of-type(1)::before {
  content: url(./img/line-mobile.png);
  position: absolute;
  top: 45px;
  left: 5px;
}
.fire {
  height: 18px;
  width: 13px;
  margin-right: 20px;
  z-index: 1;
}

.reviews__title {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 27px;
  color: #111517;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}

.reviews__content-icons {
  padding-top: 20px;
}
.reviews__content-icon {
  margin: 21px auto;
}
.reviews__content-icons::before {
  content: "";
  background-image: url(./img/slider_icon.png);
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #f1f1f1;
  margin-top: 0px;
  display: block;
  margin: 0 auto;
}

.vk__icon {
  height: 14px;
  width: 25px;
}
.span {
  display: block;
  max-width: 225px;
  margin: 0 auto;
}
.name {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 29px;
  color: #ff6b08;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: center;
}
.education {
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 17px;
  color: #858585;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 25px;
}
.span-more {
  color: #ff924a;
  text-decoration: underline;
}

.feadback {
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
}

.reviews__content {
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 7px 35px 11px rgba(29, 29, 27, 0.09);
  max-width: 280px;
  margin: 0 auto;
  padding-bottom: 35px;
}
.slider {
  display: flex;
  flex-basis: 280px;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 17px;
}

.slider__icon {
  width: 54px;
  height: 54px;
  border-radius: 27px;
}
.slider__icons:nth-child(n + 4) {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.sliders {
  display: flex;
  max-width: 280px;
  margin: 0 auto;
  justify-content: space-between;
}
.arrows {
  width: 20px;
  height: 11px;
  margin-top: 40px;
  cursor: pointer;
}
.guarantee {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .guarantee {
    margin-bottom: 70px;
  }
  .guarantee__title {
    font-size: 26px;
    margin-bottom: 33px;
  }
  .guarantee__wrapper {
    max-width: 690px;
  }
  .wrapper__list {
    padding: 40px 25px 35px 60px;
  }
  .wrapper__list-item {
    padding-bottom: 27px;
    position: relative;
  }
  .wrapper__list-item:last-child {
    padding-bottom: 0px;
  }
  .wrapper__list-item:nth-child(1) {
    padding-top: 0px;
  }
  .wrapper__list-item:nth-of-type(1)::before {
    content: none;
  }
  .wrapper__list-item::before {
    content: url(./img/line.png);
    position: absolute;
    top: -47px;
    left: 6px;
  }
  .fire {
    margin-right: 23px;
  }
  .section-2 {
    background-image: url(./img/fire-tablet.png);
    background-repeat: no-repeat;
    margin-bottom: 300px;
  }
  .section-2__wrapper {
    max-width: 690px;
  }
  .section-2__title {
    padding: 56px 0px 180px;
    max-width: 494px;
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 33px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }
  .section-2__solution {
    margin-bottom: 80px;
  }
  .section-2__solution-list {
    flex-wrap: wrap;
    flex-direction: unset;
    padding: 30px 0px 45px;
  }
  .list-item {
    flex-basis: 50%;
    padding: 2px 76px 2px;
  }
  .how-we-do {
    width: 600px;
  }
  .how-we-do__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .how-we-do__title {
    font-size: 26px;
  }

  .how-we-do__item:not(:nth-last-of-type(-n + 2)) {
    margin-bottom: 22px;
  }

  .how-we-do__item:nth-child(5),
  .how-we-do__item:nth-child(6) {
    margin-bottom: 0px;
  }

  .how-we-do__item:focus .how-we-do__item-svg {
    height: 80px;
    margin-bottom: -10px;
  }

  .how-we-do__item:hover .how-we-do__item-svg {
    height: 80px;
    margin-bottom: -14px;
  }

  .our-program {
    width: 768px;
    background-image: url("./img/bg-tablet.png");
    background-position: right 800px;
    padding-bottom: 270px;
  }
  /* @media (min-resolution: 192dpi){
        .our-program{
            background-image: url('../img/bg-tablet@2x.png');
    } */
  .our-program__wrapper {
    width: 688px;
  }
  .our-program__title {
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 63px;
    text-align: left;
    padding-top: 50px;
  }
  .our-program__semestr-list {
    display: flex;
    flex-wrap: wrap;
    width: 520px;
  }
  .our-program__list {
    padding-left: 50px;
    margin-left: 90px;
  }
  .our-program__list::before {
    height: 756px;
    left: 90px;
    top: 157px;
  }

  .our-program__semestr-title::before {
    left: -54px;
    top: 18px;
  }
  .our-program__semestr-item {
    width: 160px;
  }
  .our-program__semestr-item:not(:last-of-type) {
    margin-right: 20px;
  }

  .why-we {
    width: 688px;
    top: -204px;
  }
  .why-we__title {
    width: 100%;
    font-size: 26px;
    line-height: 63px;
    text-align: center;
    margin-bottom: 5px;
  }

  .why-we__list {
    width: 490px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 34px;
    padding-left: 20px;
  }

  .why-we__item {
    width: 224px;
    padding-top: 16px;
  }

  .teacher {
    width: 768px;
    margin-top: -410px;
    padding-top: 250px;
    margin-bottom: 25px;
  }

  .teacher__wrapper {
    width: 688px;
  }

  .teacher__title {
    font-size: 26px;
    line-height: 63px;
    margin-bottom: 15px;
  }

  .teacher__column {
    display: flex;
    flex-wrap: wrap;
  }

  .teacher__description-wrapper {
    width: 400px;
    display: inline-block;
  }

  .teacher_photo {
    width: 246px;
    height: 322px;
    margin-right: 42px;
  }

  .teacher__name {
    font-size: 20px;
    line-height: 15px;
    margin-bottom: 34px;
  }

  .teacher__features-item {
    line-height: 20px;
    padding-right: 35px;
  }

  .teacher__features-item::before {
    margin-top: 6px;
  }

  .teacher__features-item:not(:last-of-type) {
    margin-bottom: 15px;
  }

  .teacher__biography {
    padding: 5px;
    letter-spacing: 0px;
  }

  .teacher__biography:not(:last-of-type) {
    margin-bottom: 6px;
  }

  .teacher__sertificate {
    padding-left: 6px;
  }
  .reviews__title {
    margin-bottom: 45px;
  }
  .reviews__content {
    display: flex;
    max-width: 89.84375%;
    padding: 0 75px;
  }
  .reviews__content-text {
    padding-left: 45px;
  }
  .reviews__content-icons {
    padding-top: 64px;
  }
  .span {
    text-align: unset;
    max-width: unset;
  }
  .name {
    font-size: 18px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .feadback {
    padding-bottom: 50px;
  }
  .slider__icons:nth-child(n + 4) {
    position: unset;
    clip: unset;
    padding: unset;
    border: unset;
    height: unset;
    width: unset;
    overflow: unset;
  }
  .slider__icons:nth-of-type(6) {
    border-radius: 27px;
    background-color: #ff6b08;
    border: 2px solid #ff6b08;
  }
  .slider {
    flex-basis: 690px;
    padding: 24px 90px;
    justify-content: space-between;
  }
  .sliders {
    max-width: 690px;
    position: relative;
  }
  .arrows {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  .sliders::before {
    content: "";
    background-image: url(./img/left-arrow-tablet.png);
    height: 14px;
    width: 25px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 250%;
    left: -1.5%;
    cursor: pointer;
  }
  .sliders::after {
    content: "";
    background-image: url(./img/right-arrow-tablet.png);
    height: 14px;
    width: 25px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 250%;
    right: -1.5%;
    cursor: pointer;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .guarantee__wrapper {
    max-width: 1280px;
  }
  .guarantee {
    margin-bottom: 100px;
  }
  .guarantee__title {
    font-size: 32px;
    letter-spacing: 2px;
    margin-bottom: 44px;
  }
  .wrapper__list {
    padding: 56px 140px 51px 115px;
  }
  .wrapper__list-item {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 29px;
    padding-bottom: 40px;
  }
  .transfer,
  .orange {
    display: block;
  }
  .fire {
    height: 27px;
    width: 20px;
    margin-right: 38px;
  }
  .wrapper__list-item::before {
    top: -57px;
    left: 9px;
  }
  .how-we-do {
    width: 1210px;
    margin-bottom: 72px;
  }

  .how-we-do__item {
    width: 390px;
    min-height: 305px;
  }

  .how-we-do__item:nth-child(5),
  .how-we-do__item:nth-child(6) {
    margin-bottom: 22px;
  }
  .how-we-do__item:hover {
    cursor: pointer;
  }

  .how-we-do__title {
    font-size: 42px;
    letter-spacing: 2px;
    line-height: 63px;
    text-align: left;
    margin-bottom: 42px;
  }

  .how-we-do__item-svg {
    margin-bottom: 10px;
  }

  .how-we-do__methot-title {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 5px;
  }

  .how-we-do__method-description {
    font-size: 15px;
    line-height: 31px;
  }

  .our-program {
    width: 1280px;
    background-image: url("./img/bg-desktop-1280px.png");
    background-position: left 490px;
    padding-bottom: 416px;
  }
  .our-program__wrapper {
    width: 1210px;
  }

  .our-program__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-left: 0px;
    justify-content: space-between;
  }
  .our-program__item {
    width: 220px;
  }
  .our-program__semestr-list {
    flex-direction: column;
  }
  .our-program__list::before {
    width: 1280px;
    height: 2px;
    left: -35px;
    top: 92px;
  }
  .our-program__semestr-title::before {
    left: 0px;
    top: -32px;
    width: 17px;
    height: 17px;
    border-radius: 8px;
  }
  .our-program__title {
    font-size: 42px;
    letter-spacing: 2px;
    line-height: 63px;
    margin-bottom: 55px;
  }
  .our-program__semestr-list {
    width: auto;
  }
  .our-program__semestr-item {
    width: 220px;
  }
  .our-program__item_5 {
    width: 150px;
  }
  .our-program__semestr-title {
    font-size: 19px;
    letter-spacing: 2px;
    line-height: 29px;
    margin-bottom: 30px;
  }
  .our-program__skils {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 29px;
    margin-bottom: 4px;
  }
  .our-program__themes-item {
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 29px;
    font-weight: 300;
  }
  .our-program__semestr-item:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .why-we {
    width: 1210px;
    top: -432px;
  }

  .why-we__title {
    font-size: 42px;
    letter-spacing: 2px;
    line-height: 57px;
    margin-bottom: 30px;
  }

  .why-we__list {
    width: 1024px;
    padding-top: 20px;
    padding-bottom: 43px;
  }

  .why-we__item {
    width: 310px;
    padding-top: 27px;
  }
  .why-we__item:not(:nth-last-of-type(-n + 3)) {
    margin-bottom: 6px;
  }

  .why-we__number-reason {
    font-size: 21px;
    margin-bottom: 10px;
  }

  .why-we__item-reason {
    font-size: 18px;
    line-height: 29px;
  }

  .teacher {
    width: 1280px;
    margin-top: -430px;
    padding-top: 80px;
  }

  .teacher__wrapper {
    width: 1210px;
  }

  .teacher__title {
    font-size: 42px;
    line-height: 63px;
    margin-bottom: 40px;
  }

  .teacher_photo {
    width: 492px;
    height: 644px;
    margin-right: 88px;
  }

  .teacher__description-wrapper {
    width: 630px;
  }

  .teacher__name {
    font-size: 29px;
    line-height: 29px;
    margin-bottom: 46px;
  }

  .teacher__features-list {
    margin-bottom: 26px;
  }

  .teacher__features-item {
    font-size: 17px;
    line-height: 29px;
    padding-left: 46px;
  }

  .teacher__features-item::before {
    width: 20px;
    height: 20px;
    background-size: 150%;
    margin-left: 6px;
  }

  .teacher__biography {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 29px;
    padding: 0;
  }

  .teacher__biography:first-of-type::before {
    margin-bottom: 28px;
  }

  .teacher__biography:not(:last-of-type) {
    margin-bottom: 17px;
  }

  .teacher__sertificate {
    font-size: 17px;
    padding-left: 0px;
  }

  .teacher__biography:last-of-type {
    margin-bottom: 17px;
  }

  .section-2 {
    background-image: url(./img/fire-desktop.png);
    background-repeat: no-repeat;
    margin-bottom: 200px;
  }
  .section-2__wrapper {
    max-width: 1210px;
  }
  .section-2__title {
    padding: 70px 0px 285px;
    max-width: 830px;
    font-size: 42px;
    letter-spacing: 2px;
    line-height: 57px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }
  .section-2__solution {
    margin-bottom: 80px;
    top: 280px;
  }
  .section-2__solution-list {
    flex-wrap: wrap;
    flex-direction: unset;
    padding: 30px 0px;
  }
  .list-item {
    flex-basis: 33%;
    padding: 26px 76px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 29px;
    color: #18191d;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
  .how-we-do {
    width: 1210px;
    margin-bottom: 72px;
  }

  .how-we-do__item {
    width: 390px;
    min-height: 305px;
  }

  .how-we-do__item:hover {
    cursor: pointer;
  }

  .how-we-do__title {
    font-size: 42px;
    letter-spacing: 2px;
    line-height: 63px;
    text-align: left;
    margin-bottom: 42px;
  }

  .how-we-do__item-svg {
    margin-bottom: 10px;
  }

  .how-we-do__methot-title {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 5px;
  }

  .how-we-do__method-description {
    font-size: 15px;
    line-height: 31px;
  }

  .our-program {
    width: 1280px;
    background-image: url("./img/bg-desktop-1280px.png");
    background-position: left 490px;
    padding-bottom: 416px;
  }
  .our-program__wrapper {
    width: 1210px;
  }

  .our-program__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-left: 0px;
    justify-content: space-between;
  }
  .our-program__item {
    width: 220px;
  }
  .our-program__semestr-list {
    flex-direction: column;
  }
  .our-program__list::before {
    width: 1280px;
    height: 2px;
    left: -35px;
    top: 143px;
  }
  .our-program__semestr-title::before {
    left: 0px;
    top: -32px;
    width: 17px;
    height: 17px;
    border-radius: 8px;
  }
  .our-program__title {
    font-size: 42px;
    letter-spacing: 2px;
    line-height: 63px;
    margin-bottom: 55px;
  }
  .our-program__semestr-list {
    width: auto;
  }
  .our-program__semestr-item {
    width: 220px;
  }
  .our-program__item_5 {
    width: 150px;
  }
  .our-program__semestr-title {
    font-size: 19px;
    letter-spacing: 2px;
    line-height: 29px;
    margin-bottom: 30px;
  }
  .our-program__skils {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 29px;
    margin-bottom: 4px;
  }
  .our-program__themes-item {
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 29px;
    font-weight: 300;
  }
  .our-program__semestr-item:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .why-we {
    width: 1210px;
    top: -432px;
  }

  .why-we__title {
    font-size: 42px;
    letter-spacing: 2px;
    line-height: 57px;
    margin-bottom: 30px;
  }

  .why-we__list {
    width: 1024px;
    padding-top: 20px;
    padding-bottom: 43px;
  }

  .why-we__item {
    width: 310px;
    padding-top: 27px;
  }
  .why-we__item:not(:nth-last-of-type(-n + 3)) {
    margin-bottom: 6px;
  }

  .why-we__number-reason {
    font-size: 21px;
    margin-bottom: 10px;
  }

  .why-we__item-reason {
    font-size: 18px;
    line-height: 29px;
  }

  .teacher {
    width: 1280px;
    margin-top: -430px;
    padding-top: 80px;
    margin-bottom: 100px;
  }

  .teacher__wrapper {
    width: 1210px;
  }

  .teacher__title {
    font-size: 42px;
    line-height: 63px;
    margin-bottom: 40px;
  }

  .teacher_photo {
    width: 492px;
    height: 644px;
    margin-right: 88px;
  }

  .teacher__description-wrapper {
    width: 630px;
  }

  .teacher__name {
    font-size: 29px;
    line-height: 29px;
    margin-bottom: 46px;
  }

  .teacher__features-list {
    margin-bottom: 26px;
  }

  .teacher__features-item {
    font-size: 17px;
    line-height: 29px;
    padding-left: 46px;
  }

  .teacher__features-item::before {
    width: 20px;
    height: 20px;
    background-size: 150%;
    margin-left: 6px;
  }

  .teacher__biography {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 29px;
    padding: 0;
  }

  .teacher__biography:first-of-type::before {
    margin-bottom: 28px;
  }

  .teacher__biography:not(:last-of-type) {
    margin-bottom: 17px;
  }

  .teacher__sertificate {
    font-size: 17px;
    padding-left: 0px;
  }

  .teacher__biography:last-of-type {
    margin-bottom: 17px;
  }
  .sliders {
    max-width: 1065px;
  }
  .reviews__content {
    max-width: 1065px;
  }
  .reviews__content-icons {
    padding-top: 45px;
  }
  .reviews__title {
    font-size: 31px;
  }
  .slider {
    flex-basis: 780px;
  }
  .reviews__content-icons::before {
    content: "";
    background-image: url(./img/slider_icon-desctop.png);
    width: 145px;
    height: 145px;
    border-radius: 75px;
    background-color: #f1f1f1;
    margin-top: 0px;
    display: block;
    margin: 0 auto;
  }
  .name {
    padding-top: 45px;
    font-size: 25px;
  }
  .feadback {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 29px;
  }
  .sliders::after {
    right: -57px;
  }
  .sliders::before {
    left: -57px;
  }
}
